body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

:root {
    --header_color: #FFC58B;
    --question_color: #FFD6B3;
    --main_color: #FFF5F0;
}

.header {
    background: var(--header_color);
}

#section {
    width: 100%;
    height: 100%;
}

.question_bg{
    background-color: #FAF1E4;
    width:1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.candidate_bg{
	background-color: #FFF5F0;
	width:1200px;
	height: 50%;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, 0%);

}


.back_button{
    background-size: 100px 100px;
    width: 28px;
    height: 28px;
    margin-left: 15px;
    margin-top: 12px;
}

.question{
    width: 840px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
}

.choices{
    width: 840px;
    height: 210px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.choices button{
    width: 270px;
    font-size: 24px;
    margin: 10px;
}

.imagebar_box {
    display: table;
    height: 100%;
}
.row{
    display: table-row;
    font-size: 20px;
}
.candidates {
    padding: 5px;
    width: 17%;
}

.left_align{
    float: left;
    text-align:left;
}
.center-align{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}