html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

:root {
    --header_color: #FFC58B;
    --question_color: #FFD6B3;
    --main_color: #FFF5F0;
}

#fail {
    width: 800px;
    height: 100%;
    margin: auto;
    background-color: var(--main_color);
}

#fail_image_item {
    width: 550px;
    height: 550px;
    padding: 100px;
    padding-bottom: 50px;
}

.fail_image {
    width: 400px;
    height: 400px;
    margin: auto;
}

#fail_text {
    margin: auto;
}

#fail_text_main {
    font-size: 30px;
}

#fail_text_detail {
    font-size: 20px;
}

#fail_button {
    margin-top: 60px;
}

.btn-custom {
    /* bootstrap btn */
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* bootstrap btn-outline-* */
    /* color: var(--header_color); */
    background-color: transparent;
    background-image: none;
    /* custom */
    border: 2px solid var(--header_color);
    padding: 10px;
    font-size: 20px;
    color: black;
}